In [1]:
import os
import sys
import geopandas as gpd

In [2]:
df = gpd.read_file('./sorghum/season14_multi_latlon_geno_updated.geojson')
df['ID_NULL'] = df['ID_NULL'].astype(str)

In [3]:
df['ID'].nunique()

1280

In [4]:
df['ID_NULL'].nunique()

1278

In [5]:
df['range'].nunique() * df['column'].nunique()

1280

In [6]:
df[df['ID_NULL'].duplicated()==True]

,year,range,column,ID,type,rep,treatment,species,genotype,Entry_ID,ID_NULL,geometry
763,2022,78,28,7828,experimental,1.0,WW,sorghum bicolor,PI 678055,Az22-282,7827,"MULTIPOLYGON (((-111.97484 33.07748, -111.9748..."
845,2022,81,14,8114,experimental,1.0,WW,sorghum bicolor,PI 678182,Az22-110,8112,"MULTIPOLYGON (((-111.97497 33.07759, -111.9749..."

In [7]:
df['ID'] = df['ID_NULL']
df = df[['ID', 'geometry']]
df = df.sort_values('ID')

In [8]:
df.to_file('./sorghum/season14_multi_latlon_geno_correction.geojson', driver="GeoJSON")